body {
    background: linear-gradient(142deg, #2E2D44 37.09%, #26273F 57.87%, #1B1E37 86.72%);
}
  
.contactsContainer {
    /*background-color: pink;*/
    height: 39em;
    width: 80em;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2.5em;
    gap: 2em;
}

.contactsHeading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2em;
    box-sizing: border-box;
}

.contactsHeading h1 {
    margin: 0;
}

.contactsHeading button {
    padding: 0em 1em;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contactsHeading button:hover {
    background-color: #5F5C7D;
}

.contactsList {
    /*background-color: burlywood;*/
    width: 100%; /* Ensures it spans the full width */
    height: 100%;
    /*margin-bottom: 5em;*/
    padding: 2em;
    border-radius: 8px;
    box-sizing: border-box;
}
