/* src/Navbar.css */

/* Styles for the Navbar */
body {
  background: linear-gradient(135deg, #13183F, #3A3F92, #726FBA);
}


.navbar {
    background-color: #161619;
    padding: 13px 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex; /* Enables Flexbox */
    justify-content: center;
    width: 100%;
    z-index: 1000;
  }
  
  /* Styles for the navigation list */
  .navList {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Styles for each navigation item */
  .navItem {
    margin: 0 15px;
    text-align: center; 
  }
  
  /* Styles for each navigation link */
  .navLink {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navLink:hover {
    color: #3498db; /* Add hover effect */
  }

  .navButton {
    position: relative;
    flex-direction: column;
    background-color: #5F5C7D;
    width: 1em;
    height: 1em;  
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    border-radius: 0.2em;
    padding: 0.5em; /* Ensures spacing inside */
  }

  .navButton:hover {
    background-color: #3498db; /* Change background color on hover */
}

  .navButton img{
    width: 1.5em;
    height: 1.5em;
    justify-content: center;
    align-items: center;
  }

  /* Label styling: Initially hidden */
.navLabel {
  display: none; 
  position: absolute; 
  top: 100%; 
  margin-top: 8px; 
  font-size: 14px;
  color: #ecf0f1;
  white-space: nowrap; 
}

/* Show label on hover */
.navButton:hover .navLabel {
  display: block;
}