body {
  background: linear-gradient(68deg, #2E2D44 16.36%, #26273F 24.55%, #20203C 50.38%, #202E44 74.86%, #203A4B 84.82%, #203A4B 92.81%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.portfolioContainer {
  /*background-color: pink;*/
  height: 39em;
  width: 80em;  /*previously was 70em*/
  margin-top: 3em;
  display: flex; /*All the items within the portfolioContainer are set to flex*/
  flex-direction: column; /*set as column direction*/
  justify-content: flex-start; /*This is for vertical direction. It aligns items from the start or top. */
  align-items: center; /*Used to center items horizontally */
  padding-top: 2.5em;
  gap: 4em;
}

.balanceContainer {
  position: relative;
  border-radius: 34px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  width: 30em;
  height: 7em;
  display: flex;  /*items such as text are set to flex*/
  flex-direction: column;
  justify-content: center; /*vertical alignment*/
  align-items: center; /*horizontal alignment*/
  padding: 10px;
  overflow: hidden; /* Ensures that content doesn't overflow */
}

.balanceContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(5px);
  z-index: -1;
}

.balanceHeading{
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}

.total{
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
}

.tableContainer {
  width: 75em; /*previously was 60em*/
  height: 23em;
  padding: 20px;
  margin-bottom: 0em;
  border-radius: 24px;
  border: 1px solid #000;
  background: linear-gradient(139deg, #3F3649 7.88%, #5F5C7D 92.12%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  position: relative; /* Required for the pseudo-element to work */
  overflow: hidden;   /* Ensures no overflow outside the box */
}

.tableContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit; /* Inherit the background from the container */
  filter: blur(5px);   /* Apply the blur effect to the background */
  z-index: -1;         /* Place the pseudo-element behind the content */
}
